<!DOCTYPE html>
<html ng-app="pokeTeam">
	<head>
		<title>Pokemon Team Builder</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="pokemon">
		<header>
			<h1><img src="images/pokeball.png" alt="pokeball"> Pokemon Team Builder</h1>
			<span>
				<label for="load-team">Load team:</label>
				<input type="text" ng-model="load" placeholder="ID" id="load-team" name="loadBar">
				<button ng-click="loadTeam()">Load</button> <img src="images/pokeball2.png" alt="pokeball"> 
				<button ng-click="saveTeam()">Save</button>
			</span>
		</header>
		<main>
		<header>
			<span ng-show="loading" class="fa fa-spinner fa-spin fa-2x"></span>
			<span ng-hide="!success" class="success"><span class="fa fa-check-circle"></span> {{success}} <span class="fa fa-times" ng-click="success=''"></span></span>
			<span ng-hide="!error" class="error"><span class="fa fa-exclamation-circle"></span> {{error}} <span class="fa fa-times" ng-click="error=''"></span></span>
			<input type="text" ng-model="search" id="search-bar" name="searchbar" placeholder="Search for a Pokemon" ng-init="search=''">
			<div ng-hide="search.length < 3" class="search-results">
				<ul ng-repeat="pokemon in pokedex | filter:search | limitTo:5">
					<li ng-click="selectPokemon(pokemon)">{{pokemon.name}}</li>
				</ul>
			</div>
		</header>
		<section class="team-list">
			<ul ng-repeat="pokemon in team">
				<li>
					<ul>
						<li><img src="http://pokeapi.co{{pokemon.sprite}}" alt="{{pokemon.name}}"></li>
						<li><h2>{{pokemon.name}}</h2></li>
						<li>#{{pokemon.id}}</li>
						<li><span ng-repeat="type in pokemon.types"><img src="images/{{type.name}}.png" alt="{{type.name}}"> </span></li>
						<li><span ng-click="remove($index)" class="fa fa-times"></span></li>
					</ul>
				</li>
			</ul>
		</section>
		<section class="stat-box">
			<ul ng-repeat="pokemon in team">
				<li>
					<h3>{{pokemon.name}}</h3>
					<ul>
						<li>HP
							<div class="max">
								<div class="base" style="width: {{pokemon.base_stats.hp / max_stats.hp * 100}}%">
									<span>{{pokemon.base_stats.hp}}</span>
								</div>
							</div>
						</li>
						<li>Atk
							<div class="max">
								<div class="base" style="width: {{pokemon.base_stats.attack / max_stats.attack * 100}}%">
									<span>{{pokemon.base_stats.attack}}</span>
								</div>
							</div>
						</li>
						<li>Def
							<div class="max">
								<div class="base" style="width: {{pokemon.base_stats.defense / max_stats.defense * 100}}%">
									<span>{{pokemon.base_stats.defense}}</span>
								</div>
							</div>
						</li>
						<li>S.Atk
							<div class="max">
								<div class="base" style="width: {{pokemon.base_stats.sp_atk / max_stats.sp_atk * 100}}%">
									<span>{{pokemon.base_stats.sp_atk}}</span>
								</div>
							</div>
						</li>
						<li>S.Def
							<div class="max">
								<div class="base" style="width: {{pokemon.base_stats.sp_def / max_stats.sp_def * 100}}%">
									<span>{{pokemon.base_stats.sp_def}}</span>
								</div>
							</div>
						</li>
						<li>Speed
							<div class="max">
								<div class="base" style="width: {{pokemon.base_stats.speed / max_stats.speed * 100}}%">
									<span>{{pokemon.base_stats.speed}}</span>
								</div>
							</div>
						</li>
						<li>Total
							<div class="max">
								<div class="base" style="width: {{pokemon.base_stats.total / max_stats.total * 100}}%">
									<span>{{pokemon.base_stats.total}}</span>
								</div>
							</div>
						</li>
					</ul>
					</div>
				</li>
			</ul>
		</section>
		<section class="type-chart">

		</section>
		</main>
	</body>
</html>
